@import "fonts.css";

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --primary: #2196f3;
    --primary-light: #b5d2ff;
    --primary-lighter: #e9f4ff;
}

h1 {
    font-family: "Racing Sans One", cursive;
    color: var(--primary);
    text-shadow: var(--primary) 0 0 5px;
    font-size: 4rem;
}

p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
}

#progress-bar {
    width: 50vw;
    height: 5px;
    border-radius: 100vw;
    background-color: var(--primary-light);
}

#progress-bar > div {
    border-radius: 100vw;
    min-width: 5px;
    height: 100%;
    background-color: var(--primary);
}

#progress-bar-text {
    font-family: sans-serif;
}